.tr_hbor{float:left;width:200px;border:1px #888 solid;margin:5px 5px;height:260px}
.tr_himg{width:180px;height:180px;margin-top:10px;margin-left:10px}
.tr_hlab{height:14px;margin:10px 10px}.tr_hinp{width:175px}
.tr_ztit{font-size:20px}
.tr_ztbox{border:1px #888888 solid;height:200px;overflow:scroll}